.tutorSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tutorSection::before {
  content: "";
  z-index: -4;
  background: url("./images/bgtry (2).jpg") center center/cover no-repeat;
  height: 104.2%;
  width: 100%;
  opacity: 70%;
  position: absolute;
  margin-top: -10px;
}
.tutorSection h2 {
  margin-top: 6px;
  padding: 5px 5px;
}
.tutorSection p {
  width: 90%;
  text-align: center;
  padding: 5px;
  padding-bottom: 9px;
}
.tutorSection ol {
  margin-top: 6px;
  width: 50%;
  margin-left: -40%;
}
.tutorSection ol li {
  padding: 7px 5px;
}

.tutorForm {
  border: 2px solid rgb(71, 36, 36);
  margin-top: -444px;
  margin-left: 798px;
  font-size: 1.15rem;
  background-color: none;
  padding: 10px 10px;
  border-radius: 9px;
}
.longBoxT {
  width: 260px;
  height: 25px;
  border: 2px solid black;
  border-radius: 9px;
  padding: 1px 4px;
}

#country {
  width: 260px;
  height: 28px;
  padding: 1px 4px;
}
.tutorForm select {
  border: 2px solid black;
  border-radius: 9px;
}
.tutorForm:hover {
  background-color: rgb(175, 174, 173);
  opacity: 85%;
  color: black;
  border: 2px solid black;
}
.btnTutor:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.tutorForm button {
  font-size: 1.05rem;
  border: 2px solid black;
  width: 100px;
  height: 25px;
  padding: 2px 2px;
  border-radius: 5px;
  margin-top: 4.5px;
  margin-left: 31.5%;
}
.tutorFooter {
  margin-top: 18px;
}
